# Sample property file, say named izFrame.config.
# Usage: use # or ! to indicate comment lines. Space, : or = separates key and value.
# Any whitespace after the key is skipped; if the first non-whitespace character after the key
# is = or :, then it is ignored and any whitespace characters after it are also skipped.
# If line ends with \, then the following line, if it exists, is treated as a continuation line.

#-----------  DBservice config data      ----------
# DB driver information (DriverClassName, URLprefix) for dbType we refer to as "ORA" below
DBservice.DriverClassName@ORA = oracle.jdbc.OracleDriver
DBservice.URLprefix@ORA = jdbc:oracle:thin:@
# connection information for 'default' database that class will connect to using no parameters constructor. Note, DBservice has
# priority of reading dbPassword entry from Java env passed to JVM like: java -D DBservice.dbUser@myDB=scott ..., so we skip that entry
DBservice.dbType = ODBC
DBservice.dbName = northwind
DBservice.dbUser = igor
DBservice.implicitConnect = true
# connection information for database we will refer to as 'myDB' that would use ORA driver defined above
DBservice.dbType@myDB = ORA
DBservice.dbName@myDB = pubs
DBservice.dbUser@myDB = scott
DBservice.dbPassword@myDB = tiger

#--------- Log class configuration defaults -------------
# if true, log to file, false - see warnings, errors, info on System.out. Default true
Log.useFile = true
# variables for setting output file
Log.logFileNm = /log/izApp.log
# when _useFile = true, _teeMode = true would duplicate file output to screen. Default true
Log.teeMode = true
# actual log _level: ERROR=1, WARNING=2, INFO=3, TRACE=4, DEBUG=5
Log.level = debug
# String date format used for usual logging functionality
Log.dateFormat = yy-MM-dd HH:mm:ss.SS
# log file _frequency rotation constants: HOURLY=11, DAILY=8, DAY10=7, MONTHLY=5, YEARLY=2
# Numbers are based on index of changing (i.e. triggering rotation) character in _dateFormat
# actual log file _frequency rotation, default _frequency = DAILY
Log.frequency = 8
#--- timing related ------
# true, activates performance timing for trace() type calls. False makes then do normal logging
Log.traceTiming = true
# list of names of independent threads of monitoring
Log.allowedMdls = iz,lz,svt,mgr,mybean
# if true, timing results of different modules would be intermixed rather then shown separately
Log.resBlended = false
#--- instance
Log.classNamesNum=4
Log.com.ibm.classNamesNum=2
Log.com.ibm.classShortName=com_ibm
Log.com.ibm.igor.classShortName=com_igor


#----------   BaseServlet specific   ---------------
# name, path and important pages of this web application
WEB_PATH       = /webApp/
APP_TITLE      = webApp
APP_FRAME_PAGE = izFrame.jsp
APP_ERROR_PAGE = appError.jsp
APP_WELCOME_PAGE = welcome.jsp
APP_LOGIN_PAGE = login.jsp
# seq ID related - security feature, prevents bookmarking pages, submitting concurrent requests
checkSequenceID = true
SEQ_ID_ERROR_PAGE = backBtnError.jsp
SEQ_PAGES_FILE = /lib/seqPagesList.prop
# --- global web application config data, non user or user role specific
# if true, server console window will show HTTP request Parameters
logRequest = true
# if true, server console window will also show HTTP request headers and Cookies
alsoHeaders = true
# do we use custom Authentication? - user name and role stored in session at login time
useCustomAuthentication = true
# specifies if we use standard mechanizms like Basic Authentication
useBasicAuthentication = false
# ---- global defaults - config data that can be overwritten in child classes
# and also can be user role or user name specific.
# Normally we don't want to come to some intermediate page (like middle of form filling) from
# outside, only from our server. Can be overwritten in inherited servlets like Login or Welcome.
checkReferer = true
# specifies if request only secure connections (HTTPS) should be made
checkSSL = false
# when secure connections used, do we have to check User Role using x509Certificate?
check509Certificate = false
# if not secure connections used, do we have to check User Role?
# checkUserRole = true
# we need for user to have valid HTTP session for any transactional page?.
checkSessionExist = true
